<div class='alert alert-danger' role='alert'>
  <h1 class='h4'>{{title}}</h1>
  <p>{{message}}</p>
  <p class='mb-0'>Confirme se o JSON Server está em execução com
    <code>npm run start:db</code>.</p>
</div>
<a class='btn btn-outline-secondary' href='/produto'>Voltar</a>