<section class='py-4'>
  <h1>Hello World!</h1>
  <p class='lead'>Aplicação Express com TypeScript desenvolvida nos exercícios
    do módulo.</p>
  <a class='btn btn-primary' href='/produto'>Abrir CRUD de produtos</a>
</section>